@import './node_modules/bulma/bulma.sass'
@import './node_modules/bulma-switch/src/sass/index.sass'

.bold
  font-weight: bold
.verticalAlignMiddle
 vertical-align: middle

.intro
  border-bottom: solid 2px yellow
.a
  border-bottom: solid 2px red
.b
  border-bottom: solid 2px blue
.c
  border-bottom: solid 2px purple
.sabi
  border-bottom: solid 2px green
.kansou
  border-bottom: solid 2px orange
.outro
  border-bottom: solid 2px slategray
