.part
  margin-top: 50px
  .part-controls
    .part-name
      margin-right: 10px
    .part-tonic
      input
        width: 40px
        padding: 2px 4px
        outline: none
        border: 0px
        border-bottom: 1px solid #ccc
        font-size: 15px
        font-weight: bold
        text-align: center
    .part-select
      margin-right: 10px
  .bar-add-rem
    margin-right: 10px
    ion-icon
      font-size: 22px
      cursor: pointer
      vertical-align: middle
  .part-add-rem
    float: right
    ion-icon
      font-size: 30px
      cursor: pointer
      vertical-align: middle
  .bar-wrapper
    margin-top: 0px
