.score
  .config-button-wrapper
    overflow: hidden
    .config-button
      float: right
      ion-icon
        cursor: pointer
        color: gray
  .score-controls-wrapper
    margin-top: 15px
    overflow: hidden
    .score-controls
      float: right
  .score-display
    clear: both
    margin-top: 100px
    .title-block
      text-align: center
    .title-input
        width: 300px
        padding: 4px 8px
        outline: none
        border: 0px
        border-bottom: 1px solid #ccc
        font-size: 18px
        text-align: center
        font-weight: bold
    .score-tonic
      margin-top: 20px
      span
        vertical-align: middle
      input
        width: 45px
        padding: 2px 8px
        outline: none
        border: 0px
        border-bottom: 1px solid #ccc
        font-size: 16px
        text-align: center
        font-weight: bold
